* {
    margin: 0;
    padding: 0;
}

:root {
    --color-softBlue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-darkBlueMain: hsl(217, 54%, 11%);
    --color-darkBlueCard: hsl(216, 50%, 16%);
    --color-darkBlueLine: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}

body {
    font-family: Outfit;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--color-darkBlueMain);
}

.cards {
    width: 400px;
    margin: 5em auto;
    padding: 20px;
    border-radius: 1em;
    background-color: var(--color-darkBlueCard);
}

.top img {
    width: 100%;
    border-radius: 1em;
}

.mid .title {
    font-size: 1.8em;
    margin-top: 20px;
    color: var(--color-white);
}

.mid .para {
    font-weight: lighter;
    font-size: 1.3em;
    margin-top: 20px;
    color: var(--color-softBlue)
}

.mid-mid {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.mid-mid .left {
    color: var(--color-cyan);
    display: flex;
    align-items: center;
    column-gap: 0.3em;
}

.mid-mid .right {
    color: var(--color-softBlue);
    display: flex;
    align-items: center;
    column-gap: 0.3em;
}

.bot {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    border-top: solid 1px var(--color-darkBlueLine);
}

.bot img {
    width: 50px;
    height: 50px;
    border: solid 2px var(--color-white);
    border-radius: 50%;
    margin-top: 15px;
}

.bot p {
    margin-top: 15px;
    color: var(--color-softBlue);
}

.bot span {
    color: var(--color-white);
}